{# Cleartext environment variables for ECS task definition.
   These map to generate-config.js env var names.
   Secrets are injected separately - see task-secrets.json.j2
#}
[
  {"name": "DEPLOY_ENV",                              "value": "{{ deploy_env }}"},
  {"name": "ENVIRONMENT_NAME",                        "value": "{{ environment_name }}"},
  {"name": "SERVER_TYPE",                             "value": "Server"},
  {"name": "API_PROTOCOL",                            "value": "{{ api_protocol }}"},
  {"name": "API_URL",                                 "value": "{{ api_url }}"},
  {"name": "BASE_URL",                                "value": "{{ base_url }}"},
  {"name": "PROVIDER_URL",                            "value": "{{ provider_url }}"},
  {"name": "ADMIN_URL",                               "value": "{{ admin_url }}"},
  {"name": "APP_INSTALL_URL",                         "value": "{{ app_install_url }}"},
  {"name": "SEAT_URL",                                "value": "{{ seat_url }}"},
  {"name": "SEAT_SIMULATOR_URL",                      "value": "{{ seat_simulator_url }}"},
  {"name": "PATIENT_PORTAL_URL",                      "value": "{{ patient_portal_url }}"},
  {"name": "WEBSITE_URL",                             "value": "{{ website_url }}"},
  {"name": "EXTRA_ALLOWED_HOSTS",                     "value": "{{ extra_allowed_hosts | default('[]') }}"},
  {"name": "MONGO_URI",                               "value": "{{ mongo_uri }}"},
  {"name": "MONGO_URL",                               "value": "{{ mongo_url }}"},
  {"name": "MONGO_PREFIX",                            "value": "{{ mongo_prefix }}"},
  {"name": "MONGO_USERNAME",                          "value": "{{ mongo_username }}"},
  {"name": "MONGO_READ_ONLY_URI",                     "value": "{{ mongo_read_only_uri | default(mongo_uri) }}"},
  {"name": "MONGO_READ_ONLY_USERNAME",                "value": "{{ mongo_read_only_username | default('readOnlyJobs') }}"},
  {"name": "CHANGE_STREAMS_ENABLED",                  "value": "{{ change_streams_enabled | default('false') }}"},
  {"name": "CLIENT_ASSET_BASE_URL",                   "value": "{{ client_asset_base_url }}"},
  {"name": "CLIENT_RA_PHONE_NUMBER",                  "value": "{{ client_ra_phone_number | default('773-809-3573') }}"},
  {"name": "DIRECT_TO_CONSUMER_ID",                   "value": "{{ direct_to_consumer_id }}"},
  {"name": "GROWTH_ID",                               "value": "{{ growth_id }}"},
  {"name": "DEFAULT_MESSAGING_PERSONALITY_ID",        "value": "{{ default_messaging_personality_id }}"},
  {"name": "FIREBASE_ENABLED",                        "value": "{{ firebase_enabled | default('true') }}"},
  {"name": "FIREBASE_SENDER_ID",                      "value": "{{ firebase_sender_id }}"},
  {"name": "GITHUB_OAUTH_ID",                         "value": "{{ github_oauth_id | default('') }}"},
  {"name": "GOOGLE_ANALYTICS_PROPERTY_ID",            "value": "{{ google_analytics_property_id | default('') }}"},
  {"name": "GCAL_CLIENT_ID",                          "value": "{{ gcal_client_id | default('') }}"},
  {"name": "GCAL_DEFAULT_INVITEES",                   "value": "{{ gcal_default_invitees | default('[]') }}"},
  {"name": "GCAL_CALLS_CALENDAR_ID",                  "value": "{{ gcal_calls_calendar_id | default('') }}"},
  {"name": "IMAGES_ENABLE_RESIZING",                  "value": "{{ images_enable_resizing | default('false') }}"},
  {"name": "IMAGES_S3_BUCKET",                        "value": "{{ images_s3_bucket }}"},
  {"name": "BRITEVERIFY_PERFORM_VALIDATION",          "value": "{{ briteverify_perform_validation | default('false') }}"},
  {"name": "CHANGE_HEALTHCARE_BASE_URL",              "value": "{{ change_healthcare_base_url | default('') }}"},
  {"name": "ITERABLE_BASE_URL",                       "value": "{{ iterable_base_url | default('https://api.iterable.com/api') }}"},
  {"name": "ITERABLE_CUSTOM_SMS_CAMPAIGN",            "value": "{{ iterable_custom_sms_campaign }}"},
  {"name": "CUSTOM_ONE_OFF_SMS__BLANK_TEMPLATE",      "value": "{{ custom_one_off_sms_blank_template | default(iterable_custom_sms_campaign) }}"},
  {"name": "PRACTICE_ALERT_NOTIFICATION",             "value": "{{ practice_alert_notification }}"},
  {"name": "GENERIC_EMAIL_TEMPLATE",                  "value": "{{ generic_email_template }}"},
  {"name": "NEW_ACTIVITY_IN_PROGRESS_ALERT",          "value": "{{ new_activity_in_progress_alert }}"},
  {"name": "NEW_ACTIVITY_OPEN_ALERT",                 "value": "{{ new_activity_open_alert }}"},
  {"name": "ALERT_OVERDUE",                           "value": "{{ alert_overdue }}"},
  {"name": "NEW_ACTIVITY_OVERDUE_ALERT",              "value": "{{ new_activity_overdue_alert }}"},
  {"name": "PASSWORD_RESET",                          "value": "{{ password_reset }}"},
  {"name": "CLAIM_START",                             "value": "{{ claim_start }}"},
  {"name": "BULK_ACTION_COMPLETED",                   "value": "{{ bulk_action_completed }}"},
  {"name": "BULK_MESSAGE_COMPLETED",                  "value": "{{ bulk_message_completed }}"},
  {"name": "BULK_ACTION_STARTED",                     "value": "{{ bulk_action_started }}"},
  {"name": "CLAIM_STATUS_CHECK_COMPLETED",            "value": "{{ claim_status_check_completed }}"},
  {"name": "CLAIM_STATUS_CHECK_STARTED",              "value": "{{ claim_status_check_started }}"},
  {"name": "CLAIM_COMPLETED",                         "value": "{{ claim_completed }}"},
  {"name": "PATIENT_INELIGIBLE__OPTED_OUT",           "value": "{{ patient_ineligible_opted_out }}"},
  {"name": "PATIENT_INELIGIBLE__LEFT_PRACTICE",       "value": "{{ patient_ineligible_left_practice }}"},
  {"name": "PATIENT_INELIGIBLE__NO_DIAGNOSIS",        "value": "{{ patient_ineligible_no_diagnosis }}"},
  {"name": "PATIENT_INELIGIBLE__INSURANCE_CHANGE",    "value": "{{ patient_ineligible_insurance_change }}"},
  {"name": "PATIENT_MOBILE_LOGIN_SMS",                "value": "{{ patient_mobile_login_sms }}"},
  {"name": "PATIENT_MOBILE_LOGIN_EMAIL",              "value": "{{ patient_mobile_login_email }}"},
  {"name": "ITERABLE_WEBHOOK_USER",                   "value": "{{ iterable_webhook_user }}"},
  {"name": "SANITY_CHECK_THRESHOLD",                  "value": "{{ sanity_check_threshold | default('0.1') }}"},
  {"name": "DOCUMENT_VALIDATION_COUNT",               "value": "{{ document_validation_count | default('1000') }}"},
  {"name": "ML_SERVER_URL",                           "value": "{{ ml_server_url }}"},
  {"name": "ML_SERVER_PREDICTION_MODE",               "value": "{{ ml_server_prediction_mode | default('local') }}"},
  {"name": "MONGOOSE_AUTO_INDEX",                     "value": "{{ mongoose_auto_index | default('true') }}"},
  {"name": "REPORTS_S3_BUCKET",                       "value": "{{ reports_s3_bucket_name | default('') }}"},
  {"name": "REPORTS_ENABLED",                         "value": "{{ reports_enabled | default('false') }}"},
  {"name": "REPORTS_SIGNED_URL_EXPIRES",              "value": "{{ reports_signed_url_expires | default('259200') }}"},
  {"name": "REDIS_ENABLED",                           "value": "{{ redis_enabled | default('false') }}"},
  {"name": "REDIS_ENDPOINT",                          "value": "{{ redis_endpoint | default('') }}"},
  {"name": "SAGEMAKER_ENROLLMENT_ENDPOINT",           "value": "{{ sagemaker_enrollment_endpoint | default('') }}"},
  {"name": "SFTP_ENABLED",                            "value": "false"},
  {"name": "SFTP_USERS",                              "value": "[]"},
  {"name": "SLACK_ADD_CLINIC_LEAD_CHANNEL",           "value": "{{ slack_add_clinic_lead_channel }}"},
  {"name": "SLACK_FEED_CONTENT_CHANNEL",              "value": "{{ slack_feed_content_channel }}"},
  {"name": "SLACK_GROWTH_ALERT_CHANNEL",              "value": "{{ slack_growth_alert_channel }}"},
  {"name": "SLACK_GROWTH_CALL_REMINDERS_CHANNEL",     "value": "{{ slack_growth_call_reminders_channel }}"},
  {"name": "SLACK_INTRO_ALERT_CHANNEL",               "value": "{{ slack_intro_alert_channel }}"},
  {"name": "SLACK_INVALID_PHONE_NUMBER_CHANNEL",      "value": "{{ slack_invalid_phone_number_channel }}"},
  {"name": "SLACK_LOCATION_ALERTS_CHANNEL",           "value": "{{ slack_location_alerts_channel }}"},
  {"name": "SLACK_NEW_LEAD_ALERT_CHANNEL",            "value": "{{ slack_new_lead_alert_channel }}"},
  {"name": "SLACK_ORPHANED_PPT_ALERT_CHANNEL",        "value": "{{ slack_orphaned_ppt_alert_channel }}"},
  {"name": "SLACK_PEER_CONVERSATIONS_CHANNEL",        "value": "{{ slack_peer_conversations_channel }}"},
  {"name": "SLACK_RA_ALERT_CHANNEL",                  "value": "{{ slack_ra_alert_channel }}"},
  {"name": "SLACK_SEAT_SIMULATOR_RESULTS_CHANNEL",    "value": "{{ slack_seat_simulator_results_channel }}"},
  {"name": "SLACK_RESPONSE_TIME_ALERT_CHANNEL",       "value": "{{ slack_response_time_alert_channel }}"},
  {"name": "SLACK_SUPPORT_SQUAD_ALERT_CHANNEL",       "value": "{{ slack_support_squad_alert_channel }}"},
  {"name": "SLACK_SUPPORTER_ALERT_CHANNEL",           "value": "{{ slack_supporter_alert_channel }}"},
  {"name": "TWILIO_ALERT_SID",                        "value": "{{ twilio_alert_sid }}"},
  {"name": "TWILIO_PATIENT_CONVO_SID",                "value": "{{ twilio_patient_convo_sid }}"}
]
